<!DOCTYPE html>
<html>
    <head>
        <title>Eric Gadesseh's Midterm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        
    
    </head>

    
<body>
        <div class="header">

          
            <div class="ind">
                <h1 id="move"> Eric Gadesseh</h1>

                <p id="sa">Html Designer, videography</p>
            </div>




            <div class="navv">

                <a href="../index.html">About</a>
                <a href="work.html">Work</a>
                <a href="#">Contact</a>

            </div>   
     </div>
    
    <div class="grousp"> 
        
        
        
        
        <div class="contact">
            
            <div class="fa fa-address-card-o"></div>
                    <div class="message">
                        <p>In case you'd like to know what my goals and plan's are!I'am looking forward to work with any companies, and put my web desiging skills.</p>
                         <p>Would be my pleasure to work with anyone like you!</p>
                    </div>

        
        
        </div>
        
        
                
        <div class="contact">
            
            <div class="fa fa-envelope-o"></div>
                <div class="message">
                    <p>You can always reach me by email on <a class="mail" href="mailto:KossiGade@gmail.com?Subject=Hello%20again" target="_top">KossiGade@gmail.com</a></p>
                    <p>I will get back to you shortly within 24 hours! </p>
                </div>
        
        
        </div>
        
        
                
        <div class="contact">
            
            <div class="fa fa-address-card-o"></div>
                    <div class="message">
                        <p>COMMING SOON!</p>
                        
                    </div>

        </div>
        
        
    
    </div>
    
    
    
    

    

    
 <footer> Copyright &copy; Eric Gadesseh - Portfolio Page</footer>
</body>





</html>