<!DOCTYPE html>
<html>
    <head>
        <title>Eric Gadesseh's Midterm</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        
    
    </head>

    
<body>
        <div class="header">

            
            <div class="ind">
                <h1 id="move"> Eric Gadesseh</h1>

                <p id="sa">Html Designer, videography</p>
            </div>




            <div class="navv">

                <a href="../index.html">About</a>
                <a href="#">Work</a>
                <a href="contact.html">Contact</a>

            </div>   
     </div>
    
    <div class="content"> 
        
        <div class="gallery">
            <div class="pics">
                <img src="../media/images.jpg">
            </div>
            
            <div class="pics">
                <img src="../media/sample-reece.jpg">
            </div>
            
            <div class="pics">
                <img src="../media/site_map.jpg">
            </div>
            
            <div class="pics">
                <img src="../media/web-design-example9.jpg">
            </div>
        
             
            <div class="pics">
                <img src="../media/magazine.PNG">
            </div>
            
            <div class="pics">
                <img src="../media/rihan.PNG">
            </div>
            
         
            <div class="pics">
                <img src="../media/riahna_white.PNG">
            </div>
            
            <div class="pics">
                <img src="../media/photography.jpg">
            </div>
            
        </div>
        
        
        
        
        
        
    
    </div>
    
    
    
    

    

 <footer> Copyright &copy; Eric Gadesseh - Portfolio Page</footer> 

</body>





</html>